<%= form_with(model: quote, class: "quote-form") do |form| %>
  <% if quote.errors.any? %>
    <div class="alert alert-danger mb-4">
      <h5><%= pluralize(quote.errors.count, "error") %> prevented this quote from being saved:</h5>
      <ul>
        <% quote.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.hidden_field :user_id, value: current_user&.id, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :qu_text, "Quote Text", class: "form-label" %>
    <%= form.text_area :qu_text, class: "form-control", placeholder: "Enter the quote", required: true %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :pub_year, "Publication Year (Optional)", class: "form-label" %>
    <%= form.number_field :pub_year, class: "form-control", placeholder: "Enter publication year" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :comment, "Comment (Optional)", class: "form-label" %>
    <%= form.text_area :comment, class: "form-control", placeholder: "Add any additional comments" %>
  </div>

  <div class="form-check mb-3">
    <%= form.check_box :is_public, class: "form-check-input" %>
    <%= form.label :is_public, "Make Quote Public", class: "form-check-label" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :author_id, "Author", class: "form-label" %>
    <%= form.collection_select :author_id, Author.all, :id, ->(author) { "#{author.fname} #{author.lname}" }, { prompt: "Select an author" }, class: "form-select" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :category_ids, "Categories", class: "form-label" %><br>
    <% Category.all.each do |category| %>
      <div class="form-check form-check-inline">
        <%= check_box_tag "quote[category_ids][]", category.id, @quote.category_ids.include?(category.id), class: "form-check-input" %>
        <%= label_tag "quote_category_#{category.id}", category.cat_name, class: "form-check-label" %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit Quote", class: "btn btn-primary w-100" %>
  </div>
<% end %>
