<%= form_with(model: author) do |form| %>
  <% if author.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
        <% author.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :fname, style: "display: block" %>
    <%= form.text_field :fname %>
  </div>

  <div>
    <%= form.label :lname, style: "display: block" %>
    <%= form.text_field :lname %>
  </div>

  <div>
    <%= form.label :birth_year, style: "display: block" %>
    <%= form.number_field :birth_year %>
  </div>

  <div>
    <%= form.label :death_year, style: "display: block" %>
    <%= form.number_field :death_year %>
  </div>

  <div>
    <%= form.label :source_biography, style: "display: block" %>
    <%= form.text_area :source_biography %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
